.idea
.gradle
.gitignore
.gitignore.swp
runConsumer.sh
runProducer.sh
consumer/apikeyfile
producer/apikeyfile
consumer/.gradle
consumer/.idea
producer/.gradle
producer/.idea
producer/build
consumer/build
